.page-section {
  padding: 100px 0;
}
@media (min-width: 768px) {
  .page-section {
    padding: 150px 0;
  }
}

.img-detail {
  margin-bottom: 20px;
}

@media (min-width: 992px)
{
    .modal-lg, .modal-xl {
      max-width: 1200px !important;
  }
}